<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer - Component</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <h1 class="sr-only">푸터 컴포넌트</h1>
    <fieldset class="p-4 m-4 border">
      <legend>Footer - Component</legend>
      <!-- 구분을 위해 bg 임시 지정 -->
      <div
        class="w-full h-[15.625rem] bg-itc-gray100 flex flex-col justify-center space-y-4 px-8"
      >
        <!-- 상단 텍스트 -->
        <p class="font-bold text-25 text-itc-black900 max-[48rem]:text-16">
          Being All Seasons with 9oormthonUNIV
        </p>

        <!-- 로고 -->
        <div class="flex items-center">
          <span class="font-bold text-23 text-itc-black100 max-[48rem]:text-16">
            9oormthonUNIV
          </span>
        </div>

        <!-- SNS 아이콘 (임시 동그라미) -->
        <div class="flex gap-3">
          <div class="w-6 h-6 bg-itc-gray300 rounded-full"></div>
          <div class="w-6 h-6 bg-itc-gray300 rounded-full"></div>
        </div>
      </div>
    </fieldset>
  </body>
</html>
