<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Btn - Component</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <h1 class="sr-only">메인페이지 카드아이템 컴포넌트</h1>
    <fieldset class="p-4 m-4 border">
      <legend class="font-semibold">main-card-item - Component</legend>
      <figure
        class="rounded-[30px] bg-itc-gray100 px-6 pt-5 pb-10 sm:py-6 flex flex-col gap-8 sm:flex-row w-[320px] sm:w-[700px]">
        <picture
          class="w-[250px] h-[250px] sm:w-[200px] sm:h-[200px] rounded-[25px] bg-itc-gray200 self-center overflow-hidden">
          <img src="" srcset="" sizes="" alt="" />
        </picture>
        <figcaption class="break-keep">
          <h2 class="font-extrabold text-itc-black100 text-25">title</h2>
          <p class="font-medium text-16 text-itc-gray400">
            text text text text text text
          </p>
        </figcaption>
      </figure>
    </fieldset>
  </body>
</html>
