<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Main-Card-Image - Component</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <h1 class="sr-only">메인페이지 카드 이미지 컴포넌트</h1>
    <fieldset class="p-4 m-4 border">
      <legend class="font-semibold">main-card-img - Component</legend>
      <figure class="block w-[300px] h-[300px] rounded-[20px] bg-itc-gray100 object-cover">
        <picture>
          <img src="" sizes="" alt="" />
        </picture>
        <figcaption class="sr-only">
          <p>카드 이미지</p>
        </figcaption>
      </figure>
    </fieldset>
  </body>
</html>
