<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <h1 class="sr-only">페이지 소개 문구 컴포넌트</h1>
    <fieldset class="p-4 m-4 border">
      <legend class="font-semibold">page intro - Component</legend>
      <section class="px-8 py-6 bg-itc-white">
        <div class="border-b-1 border-itc-black900 pb-1">
          <h2 class="text-[1.5rem] font-extrabold text-itc-black900">
            미르미 피드 둘러보기
          </h2>
        </div>
      </section>
    </fieldset>
  </body>
</html>
