<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <h1 class="sr-only">프로젝트 카드 아이템 컴포넌트</h1>
    <fieldset class="p-4 m-4 border">
      <legend class="font-semibold">Project-card-item - Component</legend>
    </fieldset>
    <div class="flex flex-col items-center gap-6 lg:flex-row lg:justify-center">
      <!-- 카드 1 -->
      <div class="flex flex-col items-start">
        <div
          class="w-[18.75rem] h-[12.5rem] sm:w-[25rem] sm:h-[18.75rem] lg:w-[25rem] lg:h-[18.75rem] bg-itc-blue500 rounded-[1rem]"
        ></div>
        <p class="mt-2 font-extrabold text-[1.125rem] sm:text-[1.5625rem]">
          연합 스터디
        </p>
      </div>

      <!-- 카드 2 -->
      <div class="flex flex-col items-start">
        <div
          class="w-[18.75rem] h-[12.5rem] sm:w-[25rem] sm:h-[18.75rem] lg:w-[25rem] lg:h-[18.75rem] bg-itc-blue500 rounded-[1rem]"
        ></div>
        <p class="mt-2 font-extrabold text-[1.125rem] sm:text-[1.5625rem]">
          연합 해커톤
        </p>
      </div>
    </div>
  </body>
</html>
