<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <h1 class="sr-only">프로젝트페이지 카드아이템 컴포넌트</h1>
    <fieldset class="p-4 m-4 border">
      <legend class="font-semibold">project-intro-card - Component</legend>
    </fieldset>

    <div class="w-full flex justify-center">
      <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-[3.75rem] max-w-[1140px]"
      >
        <!-- 카드 1 -->
        <div class="flex flex-col items-start w-[18.75rem] bg-itc-white">
          <div
            class="w-[18.75rem] h-[12.5rem] bg-itc-gray300 rounded-[1rem]"
          ></div>
          <p class="mt-1 font-extrabold text-18 sm:text-25">Title</p>
          <p
            class="truncate overflow-hidden whitespace-nowrap w-full text-itc-gray400 text-12 mt-1 font-medium"
          >
            Project introduce
          </p>
        </div>
        <!-- 카드 2 -->
        <div class="flex flex-col items-start w-[18.75rem] bg-itc-white">
          <div
            class="w-[18.75rem] h-[12.5rem] bg-itc-gray300 rounded-[1rem]"
          ></div>
          <p class="mt-1 font-extrabold text-18 sm:text-25">Title</p>
          <p
            class="truncate overflow-hidden whitespace-nowrap w-full text-itc-gray400 text-12 mt-1 font-medium"
          >
            Project introduce
          </p>
        </div>
        <!-- 카드 3 -->
        <div class="flex flex-col items-start w-[18.75rem] bg-itc-white">
          <div
            class="w-[18.75rem] h-[12.5rem] bg-itc-gray300 rounded-[1rem]"
          ></div>
          <p class="mt-1 font-extrabold text-18 sm:text-25">Title</p>
          <p
            class="truncate overflow-hidden whitespace-nowrap w-full text-itc-gray400 text-12 mt-1 font-medium"
          >
            Project introduce
          </p>
        </div>
        <!-- 카드 4 -->
        <div class="flex flex-col items-start w-[18.75rem] bg-itc-white">
          <div
            class="w-[18.75rem] h-[12.5rem] bg-itc-gray300 rounded-[1rem]"
          ></div>
          <p class="mt-1 font-extrabold text-18 sm:text-25">Title</p>
          <p
            class="truncate overflow-hidden whitespace-nowrap w-full text-itc-gray400 text-12 mt-1 font-medium"
          >
            Project introduce
          </p>
        </div>
        <!-- 카드 5 -->
        <div class="flex flex-col items-start w-[18.75rem] bg-itc-white">
          <div
            class="w-[18.75rem] h-[12.5rem] bg-itc-gray300 rounded-[1rem]"
          ></div>
          <p class="mt-1 font-extrabold text-18 sm:text-25">Title</p>
          <p
            class="truncate overflow-hidden whitespace-nowrap w-full text-itc-gray400 text-12 mt-1 font-medium"
          >
            Project introduce
          </p>
        </div>
        <!-- 카드 6 -->
        <div class="flex flex-col items-start w-[18.75rem] bg-itc-white">
          <div
            class="w-[18.75rem] h-[12.5rem] bg-itc-gray300 rounded-[1rem]"
          ></div>
          <p class="mt-1 font-extrabold text-18 sm:text-25">Title</p>
          <p
            class="truncate overflow-hidden whitespace-nowrap w-full text-itc-gray400 text-12 mt-1 font-medium"
          >
            Project introduce
          </p>
        </div>
        -
      </div>
    </div>
  </body>
</html>
