@import "tailwindcss";
@theme {
  /* 색상 */
  --color-itc-white: #fff;

  --color-itc-black100: #393939;
  --color-itc-black200: #363f4b;
  --color-itc-black900: #000000;

  --color-itc-gray100: #eeeeee;
  --color-itc-gray200: #d9d9d9;
  --color-itc-gray300: #bfbfbf;
  --color-itc-gray400: #838383;

  --color-itc-blue100: #e6f2ff;
  --color-itc-blue200: #b8dbff;
  --color-itc-blue300: #96bffc;
  --color-itc-blue400: #72b6ff;
  --color-itc-blue500: #5e9eff;
  --color-itc-blue600: #5094fa;
  --color-itc-blue700: #4fa4ff;
  --color-itc-blue800: #3986fa;

  --color-itc-purple100: #f3e8ff;
  --color-itc-purple500: #a45bec;
  --color-itc-purple600: #822cd8;

  --color-itc-pink100: #ffb6d6;
  --color-itc-pink200: #ff90b8;

  /* 폰트 */
  --font-sans: "Pretendard Variable", sans-serif;
  --font-gmarket: "GmarketSans", sans-serif;

  /* 폰트사이즈 */
  --text-4: 0.25rem;
  --text-5: 0.3125rem;
  --text-6: 0.375rem;
  --text-7: 0.4375rem;
  --text-8: 0.5rem;
  --text-9: 0.5625rem;
  --text-10: 0.625rem;
  --text-11: 0.6875rem;
  --text-12: 0.75rem;
  --text-13: 0.8125rem;
  --text-14: 0.875rem;
  --text-15: 0.9375rem;
  --text-16: 1rem;
  --text-17: 1.0625rem;
  --text-18: 1.125rem;
  --text-19: 1.1875rem;
  --text-20: 1.25rem;
  --text-21: 1.3125rem;
  --text-22: 1.375rem;
  --text-23: 1.4375rem;
  --text-24: 1.5rem;
  --text-25: 1.5625rem;
  --text-26: 1.625rem;
  --text-27: 1.6875rem;
  --text-28: 1.75rem;
  --text-29: 1.8125rem;
  --text-30: 1.875rem;
  --text-31: 1.9375rem;
  --text-32: 2rem;
  --text-33: 2.0625rem;
  --text-34: 2.125rem;
  --text-35: 2.1875rem;
  --text-36: 2.25rem;
  --text-37: 2.3125rem;
  --text-38: 2.375rem;
  --text-39: 2.4375rem;
  --text-40: 2.5rem;
  --text-41: 2.5625rem;
  --text-42: 2.625rem;
  --text-43: 2.6875rem;
  --text-44: 2.75rem;
  --text-45: 2.8125rem;
  --text-46: 2.875rem;
  --text-47: 2.9375rem;
  --text-48: 3rem;
  --text-49: 3.0625rem;
  --text-50: 3.125rem;
  --text-55: 3.4375rem;
  --text-60: 3.75rem;
  --text-65: 4.0625rem;
  --text-70: 4.375rem;
  --text-75: 4.6875rem;
  --text-80: 5rem;
  --text-85: 5.3125rem;
  --text-90: 5.625rem;
  --text-95: 5.9375rem;
  --text-100: 6.25rem;

  /*이미지설정 */

  /* 애니메이션 */
  --animate-move-topbar: move-topbar 0.3s linear 0s 1 normal forwards;
  --animate-move-bottombar: move-bottombar 0.3s linear 0s 1 normal forwards;
  --animate-move-topbar-reverse: move-topbar-reverse 0.3s linear 0s 1 normal forwards;
  --animate-move-bottombar-reverse: move-bottombar-reverse 0.3s linear 0s 1 normal forwards;
  --animate-sidenav-open: sidenav-open 0.3s linear 0s 1 normal forwards;
  --animate-card-mobile-left: card-left 50s linear infinite;
  --animate-card-left: card-left 40s linear infinite;

  --animate-item-rotate1: item-rotate 10s linear infinite;
  --animate-item-rotate2: item-rotate 18s linear infinite;
  --animate-item-rotate3: item-rotate 12s linear infinite;

  --animate-appear-notice-modal: appear-notice-modal 0.3s ease 0s 1 normal forwards;
  --animate-disappear-notice-modal: disappear-notice-modal 1s linear 0s 1 normal forwards;

  @keyframes move-topbar {
    0% {
      translate: 0 0;
      rotate: 0deg;
      scale: 1 1;
    }
    50% {
      translate: 0 8px;
      rotate: 0deg;
      scale: 1 1;
    }
    100% {
      translate: 0 8px;
      rotate: 45deg;
      scale: 1.4 1;
    }
  }
  @keyframes move-bottombar {
    0% {
      translate: 0 0;
      rotate: 0deg;
      scale: 1 1;
    }
    50% {
      translate: 0 -8px;
      rotate: 0deg;
      scale: 1 1;
    }
    100% {
      translate: 0 -8px;
      rotate: -45deg;
      scale: 1.4 1;
    }
  }
  @keyframes move-topbar-reverse {
    0% {
      translate: 0 8px;
      rotate: 45deg;
      scale: 1.4 1;
    }
    50% {
      translate: 0 8px;
      rotate: 0deg;
      scale: 1 1;
    }
    100% {
      translate: 0 0;
      rotate: 0deg;
      scale: 1 1;
    }
  }
  @keyframes move-bottombar-reverse {
    0% {
      translate: 0 -8px;
      rotate: -45deg;
      scale: 1.4 1;
    }
    50% {
      translate: 0 -8px;
      rotate: 0deg;
      scale: 1 1;
    }
    100% {
      translate: 0 0;
      rotate: 0deg;
      scale: 1 1;
    }
  }
  @keyframes sidenav-open {
    0% {
      right: -100%;
    }
    100% {
      right: 0;
    }
  }
  @keyframes move-bottombar-reverse {
    0% {
      translate: 0 -8px;
      rotate: -45deg;
      scale: 1.4 1;
    }
    50% {
      translate: 0 -8px;
      rotate: 0deg;
      scale: 1 1;
    }
    100% {
      translate: 0 0;
      rotate: 0deg;
      scale: 1 1;
    }
  }
  /* 메인페이지 섹션5 카드슬라이드 */
  @keyframes card-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  /* 메인페이지 섹션1 회전 */
  @keyframes item-rotate {
    0% {
      rotate: 0;
    }
    100% {
      rotate: 1turn;
    }
  }
  /* 마이페이지 모달 애니메이션 */
  @keyframes appear-notice-modal {
    0% {
      translate: -50% 0%;
    }
    100% {
      translate: -50% 220%;
    }
  }
  @keyframes disappear-notice-modal {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
@layer components {
  /* 햄버거메뉴 */
  .hamburger {
    .hamburger-top-bar {
      animation: var(--animate-move-topbar);
      animation-play-state: paused;
    }
    .hamburger-middle-bar {
      animation-play-state: paused;
    }
    .hamburger-bottom-bar {
      animation: var(--animate-move-bottombar);
      animation-play-state: paused;
    }
  }
  .main-card-swiper > .swiper-wrapper {
    transition-timing-function: linear;
  }
  .sidenav {
    animation: var(--animate-sidenav-open);
    animation-play-state: paused;
  }

  .aside-btn {
    @apply inline-flex w-3 h-3 rounded-full bg-itc-gray200 transition-all duration-200;
  }

  /* 마이페이지 탈퇴 모달 */
  #mypage-delete-notice-modal {
    animation: var(--animate-appear-notice-modal);
    animation-play-state: paused;
  }
}

/* [Component:main-card-img] */
.card-linear:hover {
  animation-play-state: paused;
}

/* [Component:aside] */
.active {
  .aside-btn {
    width: 1.5rem;
    height: 1.5rem;
  }
}

/* [Component:btn-gradient] */
/* 버튼 Default */
.btn-gradient {
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 3.125rem;
  background-origin: border-box;
  overflow: hidden;
  z-index: 1;
  transition: all 0.4s linear;
  
  /* 그라데이션 테두리와 배경을 위한 가상 요소 */
  &::after {
    content: "";
    position: absolute;
    inset: 0; 
    padding: 3px;
    border-radius: 3.125rem;
    background: linear-gradient(to bottom, var(--color-itc-blue500), var(--color-itc-purple500));
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -2;
  }
  
  /* 채워지는 배경 효과를 위한 가상 요소 */
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-image: linear-gradient(to bottom, var(--color-itc-blue500), var(--color-itc-purple500));
    border-radius: 3rem;
    z-index: -1;
    transition: width 0.3s ease;
  }

  .inner-text {
    position: relative;
    background: linear-gradient(65deg, var(--color-itc-blue500), var(--color-itc-purple500));
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease;
  }

  /* Hover / Focus */
  &:hover::before,
  &:focus::before {
    width: 100%;
  }

  &:hover, &:focus {
    outline:none;

    .inner-text {
      background: linear-gradient(65deg, var(--color-itc-white), var(--color-itc-white));
      background-clip: text;
      color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

/* 버튼 Active */
.btn-gradient.active {
  &::before {
    width: 100%;
  }

  .inner-text {
    background: linear-gradient(65deg, var(--color-itc-white), var(--color-itc-white));
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}